.card {
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    // height: 100%;

    &:hover {
        opacity: 0.8;
    }
}

.aside {
    width: 250px;
    z-index: 1000;
    left: -250px;
    transition: 0.3s;
}

.aside_active {
    left: 0;
}

.btn {
    z-index: 1001;
}

.btn_close {
    margin: 0 !important;
}

.nav-link {
    color: white;

    &:hover {
        color: white;
        opacity: 0.8;
    }
}

.nav-link:last-child {
    align-self: flex-end;
}

.btn_aside {
    transition: 0.3s !important;
}

.btn_aside_active {
    transform: rotate(90deg);
}