.Header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: #a6c;
  // background-color: #CC61FF;
}

.btn_aside {
  position: relative;
  transition: 0.3s !important;
  z-index: 90;
}

.btn_aside_active {
  transform: rotate(90deg);
} 
