.shortStats {
    background-color: rgba(135, 207, 235, 0.3);
    font-family: cursive;
    border-radius: 30px;
}

.shortStatsHeader {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    h1 {
        margin-top: 2rem;
        color: blue;
    }
}

.shortStatsInfo {
    font-size: 1.5rem;
    margin-top: 2rem;
    img {
        border-radius: 30px;
    }
    &-item {
        margin-top: 2rem;
        width: 459px;
        justify-content: space-between;
        &:first-child {
            color: darkviolet;
        }
        &:nth-child(2) {
            color: darkgreen;
        }
        &:nth-child(3) {
            color: rgb(139, 86, 16);
        }
        &:last-child {
            color: darkred;
            margin-bottom: 2rem;
        }
    }
}

ul.row.shortStatsInfo {
    background-color: rgba(255, 228, 196, 0.76);
    border-radius: 30px;
}