canvas {
    background-color: lightcyan;
}

.longStatsElem {
    margin: 5rem auto;
    &-label {
        margin-top: 1rem;
        font-family: cursive;
        color: lavender;
        font-weight: normal;
    }
    &-field {
        height: 5rem;
        width: 100%;
        background-color: lavender;
        overflow: auto;
    }
}

.miniStats-elem {
    font-family: cursive;
    line-height: 1.5rem;
    color: darkslateblue;
}