.Sprint-Card {
    user-select: none;
    position: relative;
    border-width: 5px !important;
    border-color: rgba(0,0,0,0);
    border-style: solid;
}

// .SprintCard-Design {
//     position: absolute;
//     background-color: red;
//     height: 150px !important;
//     top: 0;
//     left: 0;
//     // z-index: -11;
//     opacity: 0.1;
// }

.SprintCard-Button_right,
.SprintCard-Button_wrong {
    position: relative;
}

.SprintCard-Button_prompt {
    position: absolute;
}