.Login {
    width: 340px;
    margin: 50px auto;

    form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    input:invalid {
        background: rgba(230, 13, 13, 0.1);
    }

    input:valid {
        background: rgba(40, 122, 7, 0.1);
    }
}
