.PromoCard-Learn {
  background-image: url("./assets/learn.gif");
}

.PromoCard-Stats {
  background-image: url("./assets/stats.gif");
}

.PromoCard-Voc {
  background-image: url("./assets/voc.gif");
}

.PromoCard-Img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}
