.Card {
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
    margin-top: 10px;
}

.Card-Image {
    display: flex;
    align-items: center;
    max-width: 500px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: relative;

    img {
        height: 100%;
    }
}

.Card:hover {
    // .Card-Image {
        
    // }

    img {
        display: none;
    }
}

.Card-Image_training {
    background-image: url(../../Pages/MainPage/picgif1.gif);
}

.Card-Image_learning {
    background-image: url(../../Pages/MainPage/picgif2.gif);
}