.Fortune-Startscreen {
    color: #ccc;
}

.FortuneStartscreen-Logo {
    width: 100%;
    height: 200px;
    background-image: url('../assets/logo-turbo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Fortune-Startscreen_btns {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 767px) {
        flex-direction: column;

        button {
            font-size: 0.7rem;
        }
    }
}
