.play-card {
  width: 300px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);

  .play-string {
    font-size: 1.5rem;
    text-align: justify;
  }

  .word-input {
    border: none;
    color: #338c99;
    background-color: #e0ebef;
    border-bottom: 2px solid #338c99;
    border-radius: 5px;
    transition: 1s;

    &:focus {
      box-shadow: none;
    }
  }

  .mistake {
    transition: 1s;
    color: red;
    border-bottom: 2px solid red;
  }

  .agree {
    transition: 1s;
    color: green;
    border-bottom: 2px solid green;
  }
}
